---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Page Not Found - Paul Pladziewicz - Software Engineer" lang="en">
    <main>
        <section class="text-center">
            <h1 class="display-1 fw-bold mb-4">Page Not Found!</h1>
            <a role="button" href="/" class="btn btn-primary">Navigate to Homepage</a>
        </section>
    </main>
</Layout>
