---
import Layout from './../layouts/Layout.astro';
import Jumbotron from "../components/Jumbotron.astro";
import SelectedWork from "../components/SelectedWork.astro";
import Content from "../components/Content.astro";
import ContactForm from "../components/ContactForm.jsx";
---

<Layout title="Paul Pladziewicz - Senior Software Engineer" lang="en" langUrl="/es">
    <main>
        <Jumbotron />
        <SelectedWork />
        <Content />
        <ContactForm client:load />
    </main>
</Layout>
