---
import Layout from './../layouts/Layout.astro';
import ContactForm from "../components/ContactForm.jsx";
---

<Layout title="Paul Pladziewicz - Software Engineer" lang="en">
    <main>
        <section class="row">
                <div class="col-md-7 col-lg-9">
                    <h1 class="display-1 font-bold">Hello, my name is Paul Pladziewicz</h1>
                    <p class="mt-4 text-4xl">I am a software engineer who is currently based in Fremont, Michigan.</p>
                    <a href="/" class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-lg px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Download Resume</a>
                </div>
                <img class="col-md-5 col-lg-3 rounded-circle" src="https://d1qy7lc15wxwmt.cloudfront.net/images/profilepicture.jpg" />
        </section>
        <ContactForm />
    </main>
</Layout>
