<section class="row justify-content-center align-items-center">
    <div class="col-md-8 col-lg-9 order-1 text-center text-lg-start">
        <h1 class="display-1 fw-bold">Hello, my name is Paul Pladziewicz</h1>
        <p class="lead mb-4">Senior Software Engineer @ InRhythm, in collaboration with E*TRADE/Morgan Stanley | Front-end Web Development | AWS Certified Developer</p>
        <p>Based out of Fremont, MI</p>
        <a role="button" href="/" class="btn btn-primary p-3">Download Resume</a>
        <a role="button" href="#projects" class="btn btn-secondary text-light p-3 m-3">Review Projects</a>
    </div>
    <img class="col-6 col-md-4 col-lg-3 order-0 order-md-2 rounded-circle" src="https://d1qy7lc15wxwmt.cloudfront.net/images/profilepicture.jpg" />
</section>