---
export interface Props {
    lang: String;
    langUrl: String;
}

let { lang, langUrl } = Astro.props;
lang = lang || 'en';
langUrl = langUrl || '/';
---

<header>
    <nav class="d-flex justify-content-between align-items-center py-2">
        <a href="/"><img src="https://d1qy7lc15wxwmt.cloudfront.net/images/pp.svg" alt="logo" width="50px"/></a>
        <a href={langUrl} class="text-primary">{lang === 'en' ? 'Español' : 'English'}</a>
    </nav>
</header>
