---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Paul Pladziewicz - Software Engineer" lang="es">
    <main>
        <section  class="container">
            <h1 class="display-1 font-bold">Welcome</h1>
            <p class="lead">I am happy you are here.</p>
        </section>

    </main>
</Layout>