---
import Layout from '../../layouts/Layout.astro';
import ContactForm from "../../components/ContactForm.jsx";
---

<Layout title="Paul Pladziewicz - Software Engineer" lang="es" langUrl="/">
	<main>
		<section class="row">
			<div class="col-md-10 col-lg-8">
				<h1 class="display-1 font-bold">Hola, mi nombre es Paul Pladziewicz</h1>
				<p class="lead mb-4">Soy un ingeniero de software que actualmente reside en Fremont, Michigan.</p>
				<a role="button" href="/" class="btn btn-primary p-3">Descargar Currículum</a>
			</div>
			<img class="col-md-2 col-lg-4 rounded-circle" src="https://d1qy7lc15wxwmt.cloudfront.net/images/profilepicture.jpg" />
		</section>
		<ContactForm client:load lang="es" />
	</main>
</Layout>
