---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Paul Pladziewicz - Software Engineer" lang="es">
    <main>
        <section class="container">
            <h1 class="display-1 font-bold">Projects</h1>
        </section>
    </main>
</Layout>